@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@800&family=Poppins:wght@700&family=Roboto:wght@300;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-blue: hsl(210, 60%, 98%);
  --light-gray-blue: hsl(205, 33%, 90%);
  ---gray-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);
}

strong {
  color: var(--very-dark-blue);
}

span {
  color: blue;
}

body {
  background-color: var(--light-gray-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 9%;
  left: 25%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  border-radius: 9px;
  width: 90vh;
  height: 80vh;
}

img {
  width: 60px;
  height: 60px;
  margin: 5px 5px;
}

p {
  font-size: 16px;
}

/* notification */
.head {
  display: flex;
  flex-direction: row;
  margin: 20px 20px;
}

/* notification text */
.head p {
  padding-left: 451px;
}

.head button {
  background-color: var(--very-dark-blue);
  color: var(--white);
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.recent {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 8%;
  background-color: var(--light-grayish-blue);
  margin-bottom: 10px;
}

.recent.text {
  display: flex;
  flex-direction: column;
}

.text {
  padding: 5px;
  margin-left: 10px;
  margin-top: 5px;
}

.layer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 10%;
  background-color: var(--white);
  margin-bottom: 5px;
}

.layer.text {
  display: flex;
  flex-direction: column;
}

.layer.chess-img {
  display: flex;
  text-align: end;
}

.wrap {
  width: 60%;
  height: 9%;
  background-color: var(--light-grayish-blue);
  border-radius: 5px;
  border-color: var(--light-grayish-blue);
  margin-left: 5%;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}

.attribution {
  font-size: 20px;
  color: var(--very-dark-blue);
  margin-top: 35px;
}

.attribution a {
  color: var(--very-dark-blue);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--dark-grayish-blue);
}

/* Example media query for tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Your tablet styles here */

  body {
    background-color: var(--light-gray-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 9%;
    left: 10%;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 9px;
    width: 60vh;
    height: 80vh;
  }
  

  .head p {
    padding-left: 190px;
  }
}

@media (max-width: 400px) {
  * {
    font-size: 14px;
  }
  body {
    position: absolute;
    margin-top: -20px;
    height: 100%;
    background-color: var(--white);
    right: 20%;
    font-size: 12px;
    left: 20%;
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 150%;
    height: 100%;
  }

  .attribution {
    font-size: 11px;
  }

  .attribution a {
    font-size: 11px;
  }

  .head p {
    padding-left: 70px;
    font-size: 15px;
  }

  h1 {
    font-size: 20px;
  }

  .recent {
    width: 100%;
  }
  .layer {
    width: 100%;
    font-size: 14px;
    margin-bottom: 5%;
  }
  .wrap {
    font-size: 14px;
    width: 55%;
    height: 25%;
    margin-left: 15%;
  }

  .head button {
    background-color: var(--very-dark-blue);
    color: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 5px;
  }
}
